<h1>Show Answer</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @answer.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @answer.body %>
  </li>

  <li>
    <strong>Rate:</strong>
    <%= @answer.rate %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.answer_path(@conn, :edit, @answer) %></span>
<span><%= link "Back", to: Routes.answer_path(@conn, :index) %></span>
