<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Kekoverflow" %></h1>
  <p>The place where you can find everything you wish</p>
  <h3>Questions and answers could be found here:</h3>
  <%= link "Questions", to: Routes.question_path(@conn, :index) %>
</section>

